/* @group TDH forms */

input#form-widgets-title {
    width: 100%;
    color: Black;
    font-family: Arial,Tahoma,FreeSans,sans-serif;
    font-size: 2em;
    letter-spacing: -0.01em;
    line-height: 125%;
}

div.tdh-metadata-form td.datagridwidget-cell input {
    width:100%;
}
div.tdh-metadata-form td.datagridwidget-cell div.error {
    margin: 0.5em 0;
    padding: 0.3em;
}
/* @end */

div#left-hand-side  dl.collapsible,
div#right-hand-side  div,
div#right-hand-side dl.collapsible{
    margin-bottom: 2em;
}
dt.collapsibleHeader {
    float: none !important;
    font-size: 1.4em !important;
    font-family: Georgia,Times,"Times New Roman",serif;
    font-style: italic;
    line-height: 1.5em !important;
    letter-spacing: -0.01em;
    color: white;
    padding-left: 5px;
}
.collapsedBlockCollapsible .collapsibleHeader {
    margin: 0 0 5px 0px !important;
}
.expandedBlockCollapsible .collapsibleHeader {
    margin: 0 -1px 5px -1px !important;
}

div#left-hand-side {
    width: 55%;
    float: left;
}

div#right-hand-side {
    width:  35%;
    float: right;
}
/* dataset record styling */
div.dataset-section {
    border: 1px silver solid;
    margin: 1ex 0;
    padding: 1ex 1ex 1ex 5ex;
}
.dataset-section h3 {
    margin-left: -3ex;
}

body.template-view.portaltype-tdh-metadata-datasetrecord table.datagridwidget-table-view th.header span.required {
    display: none
}

input#form-widgets-related_activities-widgets-query {
    width: 60ex;
}

.dataset-section table.datagridwidget-table-view {
    border: none;
    background: transparent;
}
.dataset-section table.datagridwidget-table-view thead {
    display: none;
}

.dataset-section td.datagridwidget-cell span.choice-field {
    font-weight: bold;
}
.dataset-section td.datagridwidget-cell span.choice-field:after {
    content: ": "
}
.dataset-section td.datagridwidget-cell { 
    vertical-align: top; 
    padding-right: 1em; 
    padding-bottom: 1em;
}



/* jcu theme specific coloring */
#content-core dt a {
    color: #205C90;
}

body.jcu-blue .collapsibleHeader {
    background-color: rgb(0,102,179) !important;
}

body.jcu-green .collapsibleHeader {
    background-color: rgb(13,177,75) !important;
}

body.jcu-red .collapsibleHeader {
    background-color: rgb(157,22,25) !important;
}

body.jcu-orange .collapsibleHeader {
    background-color: rgb(247,147,30) !important;
}
